# Fireworks AI
FIREWORKS_API_KEY=fw_CnQwfwtL9mCgeYuYDibukQ

# LLM
BASE_URL=https://api.fireworks.ai/inference/v1
MODEL=accounts/fireworks/models/gpt-oss-20b

# Backend
HOST=0.0.0.0
PORT=8000

# Frontend
VITE_API_URL=http://localhost:8000